<%= form_with(url: assessments_path, method: :post) do %>
  <% @questions.each do |question| %>
    <div class="form-group">
      <h5><%= question.text %></h5>
      <% question.answers.each do |answer| %>
        <div class="form-check">
          <%= radio_button_tag "responses[#{question.id}]", answer.id, class: "form-check-input" %>
          <%= answer.text %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= submit_tag "Submit Assessment", class: "btn bg-gradient-primary" %>
<% end %>