<div id="<%= dom_id idea %>">
  <p>
    <strong>Due date:</strong>
    <%= idea.due_date %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= idea.priority %>
  </p>

  <p>
    <strong>Action point:</strong>
    <%= idea.action_point %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= idea.status %>
  </p>

  <p>
    <strong>Added to business plan:</strong>
    <%= idea.added_to_business_plan %>
  </p>

</div>
