<div id="<%= dom_id article %>">
  <p>
    <%= article.body %>
  </p>
  <%= audio_tag(article.audio, controls: true) %>
  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>
  <p>
    <%= link_to "Download Audio", article.audio, download: true, class: "btn btn-seondary" %>
  </p>
</div>
