<canvas id="dummy-chart" style="display:none;"></canvas>
<canvas id="chart-line" style="display:none;"></canvas>


<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        
<div class="card shadow-lg m-4 card-profile">
  <div class="card-body p-3">
    <div class="row gx-4">
      <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
          <%= image_tag 'maciej_sypniewski.jpg', alt: "profile_image", class: "w-100 border-radius-lg shadow-sm" %>
        </div>
      </div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">
            You
          </h5>
          <p class="mb-0 font-weight-bold text-sm">
            Personal Skills and Abilities
          </p>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
        <div class="nav-wrapper position-relative end-0">
          <ul class="nav nav-pills nav-fill p-1" role="tablist">
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 active d-flex align-items-center justify-content-center " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" href="javascript:;" role="tab" aria-selected="true">
                <i class="fa fa-globe"></i>
                <span class="ms-2">Profil</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center " id="nav-eskils-tab" data-bs-toggle="tab" data-bs-target="#nav-eskils" href="javascript:;" role="tab" aria-selected="false">
                <i class="fa-solid fa-balance-scale"></i>
                <span class="ms-2">Entrepreneurial Skills</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center "  id="nav-swot-tab" data-bs-toggle="tab" data-bs-target="#nav-swot" href="javascript:;" role="tab" aria-selected="false">
                <i class="fa-solid fa-people-arrows"></i>
                <span class="ms-2">Personal SWOT</span>
              </a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center "  id="nav-threats-tab" data-bs-toggle="tab" data-bs-target="#nav-threats" href="javascript:;" role="tab" aria-selected="false">
                <i class="fa-solid fa-people-arrows"></i>
                <span class="ms-2">N/A</span>
              </a>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card shadow-lg mx-4 my-2">
  <div class="tab-content" id="nav-tabContent">
    <!-- -->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="container-fluid py-4">
        <div class="row">
        <!-- -->



          <div class="col-md-8">
            <div class="card">
              <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                  <p class="mb-0">Edit Profile</p>
                  <button class="btn btn-primary btn-sm ms-auto">Settings</button>
                </div>
              </div>
              <div class="card-body">
                <p class="text-uppercase text-sm">Business Information</p>
                <div class="row">
                  <div class="col-md-12">
                    
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Business name:</label>
                      <input class="form-control" type="text" value="Dhruvi Infinity Inspiration">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Strap Line:</label>
                      <textarea class="form-control" type="text" value="From Heart to Innovation: Empowering Your Business Journey.">From Heart to Innovation: Empowering Your Business Journey.</textarea>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Email address</label>
                      <input class="form-control" type="email" value="msypniewski511@gmail.com">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Website domain:</label>
                      <input class="form-control" type="text" value="dii.ltd">
                    </div>
                  </div>
                </div>
                <hr class="horizontal dark">
                <p class="text-uppercase text-sm">Contact Information</p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Address</label>
                      <input class="form-control" type="text" value="86-90 Paul Street">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">City</label>
                      <input class="form-control" type="text" value="London">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Country</label>
                      <input class="form-control" type="text" value="United Kingdom">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Postal code</label>
                      <input class="form-control" type="text" value="EC2A 4NE">
                    </div>
                  </div>
                </div>
                <hr class="horizontal dark">
                <p class="text-uppercase text-sm">About me</p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">About me</label>
                      <input class="form-control" type="text" value="CEO Dhruvi Infinity Inspiration">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile">
              <%= image_tag 'background.png', alt: "Image placeholder", class: "card-img-top" %>
              <div class="row justify-content-center">
                <div class="col-4 col-lg-4 order-lg-2">
                  <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
                    <a href="javascript:;">
                      <%= image_tag 'maciej_sypniewski.jpg', alt: "Image placeholder", class: "rounded-circle img-fluid border border-2 border-white" %>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
                <div class="d-flex justify-content-between">
                  <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-none d-lg-block">Connect</a>
                  <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-block d-lg-none"><i class="ni ni-collection"></i></a>
                  <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Message</a>
                  <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-block d-lg-none"><i class="ni ni-email-83"></i></a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-center">
                      <div class="d-grid text-center">
                        <span class="text-lg font-weight-bolder">22</span>
                        <span class="text-sm opacity-8">Friends</span>
                      </div>
                      <div class="d-grid text-center mx-4">
                        <span class="text-lg font-weight-bolder">10</span>
                        <span class="text-sm opacity-8">Photos</span>
                      </div>
                      <div class="d-grid text-center">
                        <span class="text-lg font-weight-bolder">89</span>
                        <span class="text-sm opacity-8">Comments</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-4">
                  <h5>
                    Maciej Sypniewski<span class="font-weight-light">, 35</span>
                  </h5>
                  <div class="h6 font-weight-300">
                    <i class="ni location_pin mr-2"></i>London, UK
                  </div>
                  <div class="h6 mt-4">
                    <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Dhruvi Infinity Inspiration
                  </div>
                  <div>
                    <i class="ni education_hat mr-2"></i>Oxford Brookes University
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="nav-eskils" role="tabpanel" aria-labelledby="nav-eskils-tab">
      <div class="container-fluid py-4">
        <div class="row">
        <!-- -->
        
        
<div class="container-fluid">

<div class="row mb-3">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <p class="text-sm mb-0 text-uppercase font-weight-bold">Your Entrepreneurial Level</p>
            <h5 class="font-weight-bolder"><%= @assessment&.level || "Not Assessed" %></h5>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"><%= @assessment&.total_score || "No Score" %></span>
              Latest Score on 65
            </p>
          </div>
          <div class="col-4 text-end d-flex justify-content-end">
            <div class="icon-shape bg-gradient-primary shadow-primary text-center rounded-circle d-flex align-items-center justify-content-center">
              <i class="fa fa-rocket text-white opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">

          </div>
        </div>
        <h4>Latest Score</h4>
        <h2><%= @assessment&.total_score || "No Score" %></h2>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">

          </div>
        </div>
        <h4>Status</h4>
        <h2><%= @assessment.persisted? ? "Completed" : "Not Done" %></h2>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-lg-0 mb-0">
    <div class="card">
      <div class="card-header p-3 d-flex justify-content-between align-items-center">
        <h6 class="text-capitalize m-0">Skills Breakdown</h6>
        <%= link_to 'Retake', new_assessment_path, class: "card-link text-info" %>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="skillsChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col-xl-6 col-lg-6">
    <div class="card h-100">
      <div class="card-header p-3 pb-0">
        <h6 class="mb-0 text-muted">Your Entrepreneurial Skill Analises AI Insights</h6>
      </div>
      <div class="card-body p-3">
        <% if @assessment.persisted? %>
          <%= format_text_to_html @ai_insights %>
        <% else %>
          <%# link_to "Take assessment", new_pswot_analysis_path, class: "btn btn-outline-success" %>
          <%# render "assessments/form", questions: @questions  %>


          <!-- Button trigger modal -->
          <button type="button" class="btn bg-gradient-info btn-block" data-bs-toggle="modal" data-bs-target="#exampleModalSignUp">
            Take Assessment
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document" style="max-width: 70vw !important;margin-left: 20vw !important;">
              <div class="modal-content">
                <div class="modal-body p-0">
                  <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-primary text-gradient">Entrepreneurial</h3>
                        <p class="mb-0">Skills Assessment</p>
                    </div>
                    <div class="card-body pb-3">
                      <%= render "assessments/form", questions: @questions  %>
                    </div>
                    <div class="card-footer text-center pt-0 px-sm-4 px-1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6">
    <div class="card widget-calendar h-100">
      <div class="card-header p-3 pb-0">
        <h6 class="mb-0">Calendar</h6>
      </div>
      <div class="card-body p-3">
        <div class="calendar1" id="calendar1" style="display: block; overflow: visible;height: 600px;min-height: 500px;"></div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Chart(document.getElementById("skillsChart"), {
      type: "bar",
      data: {
        labels: ["Leadership", "Risk-Taking", "Problem-Solving", "Finance", "Marketing", "Resilience"],
        datasets: [{
          label: "Skill Level",
          data: [<%= @assessment&.total_score.to_i / 6 %>, 4, 3, 5, 2, 3],
          backgroundColor: "rgba(54, 162, 235, 0.5)",
          borderColor: "rgba(54, 162, 235, 1)",
        }]
      },
    });
  });
</script>
        </div>
      </div>
    </div>

      <div class="tab-pane fade" id="nav-swot" role="tabpanel" aria-labelledby="nav-swot-tab">
      <div class="container-fluid py-4">
        <div class="row">


<div class="container-fluid">
  <div class="row mb-3">

    <div class="col-md-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Your Entrepreneurial Level</p>
              <h5 class="font-weight-bolder"><%= @swot.persisted? ? "SWOT" : "Not Assessed" %></h5>
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder"><%= @assessment&.total_score || "No Score" %></span>
                Latest Score on 65
              </p>
            </div>
            <div class="col-4 text-end d-flex justify-content-end">
              <div class="icon-shape bg-gradient-primary shadow-primary text-center rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa fa-rocket text-white opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">

            </div>
          </div>
          <h4>Latest Score</h4>
          <h2><%= "No Score TODO" %></h2>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">

            </div>
          </div>
          <h4>Status</h4>
          <h2><%= @swot.persisted? ? "Completed" : "Not Done" %></h2>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-lg-0 mb-0">
      <div class="card">
        <div class="card-header p-3 d-flex justify-content-between align-items-center">
          <h6 class="text-capitalize m-0">SWOT Visualization</h6>
        </div>
        <div class="card-body p-3">
          <div class="chart">
            <canvas id="skillsChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header p-3">
          <h6 class="text-muted">
            Your SWOT Analysis
          </h6>
        </div>
        <div class="card-body p-3">
          <% if @swot.persisted? %>
            <h3>Strengths:</h3>
            <p><%= @swot.strengths %></p>

            <h3>Weaknesses:</h3>
            <p><%= @swot.weaknesses %></p>

            <h3>Opportunities:</h3>
            <p><%= @swot.opportunities %></p>

            <h3>Threats:</h3>
            <p><%= @swot.threats %></p>

            <h2>AI-Powered Analysis:</h2>
            <p><%= format_text_to_html @swot.analysis %></p>
          <% else %>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-gradient-info btn-block" data-bs-toggle="modal" data-bs-target="#pswotModal">
              Start a New PSWOT Analysis
            </button>

            <!-- Modal -->
            <div class="modal fade" id="pswotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-md" role="document" style="max-width: 70vw !important;margin-left: 20vw !important;">
                <div class="modal-content">
                  <div class="modal-body p-0">
                    <div class="card card-plain">
                      <div class="card-header pb-0 text-left">
                          <h3 class="font-weight-bolder text-primary text-gradient">Entrepreneurial</h3>
                          <p class="mb-0">Personal SWOT Assessment</p>
                      </div>
                      <div class="card-body pb-3">
                        <%= render "pswot_analyses/form", swot: @swot %>
                      </div>
                      <div class="card-footer text-center pt-0 px-sm-4 px-1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%= render "pswot_analyses/form", swot: @swot %>
            <%= link_to "Start a New Analysis", new_pswot_analysis_path, class: "btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card p-3">
        <div class="card-header">
          <h2>SWOT Visualization</h2>
        </div>
        <div class="card-body">
          <!-- Ensure these elements exist in your ERB file -->
          <div id="strengths" style="display: none;"><%= @strengths %></div>
          <div id="weaknesses" style="display: none;"><%= @weaknesses %></div>
          <div id="opportunities" style="display: none;"><%= @opportunities %></div>
          <div id="threats" style="display: none;"><%= @threats %></div>

          <!-- Canvas for the chart -->
          <canvas id="swotChart_a"></canvas>
        </div>
      </div>
    </div>
  </div>
  <a href="/pswot_analyses/new">Retake</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('swotChart_a');

    if (ctx) {
      if (window.swotChartInstance) {
        window.swotChartInstance.destroy(); // Destroy previous instance
      }
      const swotData = {
        labels: ['Strengths', 'Weaknesses', 'Opportunities', 'Threats'],
        datasets: [
          {
            label: 'SWOT Analysis',
            data: [
              document.getElementById('strengths')?.textContent.length || 10,
              document.getElementById('weaknesses')?.textContent.length || 20,
              document.getElementById('opportunities')?.textContent.length || 30,
              document.getElementById('threats')?.textContent.length || 10,
            ],
            backgroundColor: [
              'rgba(75, 192, 192, 0.6)', // Strengths (Green)
              'rgba(255, 99, 132, 0.6)', // Weaknesses (Red)
              'rgba(54, 162, 235, 0.6)', // Opportunities (Blue)
              'rgba(255, 206, 86, 0.6)', // Threats (Yellow)
            ],
            borderColor: [
              'rgba(75, 192, 192, 1)',
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 1,
          },
        ],
      };

      new Chart(ctx, {
        type: 'bar', // You can change this to 'pie' or 'radar'
        data: swotData,
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    }else{}
  });
</script>



        </div>
      </div>
    </div>
  </div>
</div>

        <div class="card-footer">
          <%# link_to "Edit this swot analysis", edit_business_idea_swot_analyses_path(@business_idea) %> |
          <%# link_to "Back to business idea", @business_idea %>

          <%# button_to "Destroy this swot analysis", @swot_analysis, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>

