<div class="card">
  <div class="card-header">
    <h4>Porter's Five Forces Analysis</h4>
  </div>
  <div class="card-body">
    <p><strong>Threat of New Entrants:</strong> <%= @porters_five_force.threat_of_new_entrants %></p>
    <p><strong>Bargaining Power of Suppliers:</strong> <%= @porters_five_force.bargaining_power_of_suppliers %></p>
    <p><strong>Bargaining Power of Buyers:</strong> <%= @porters_five_force.bargaining_power_of_buyers %></p>
    <p><strong>Threat of Substitutes:</strong> <%= @porters_five_force.threat_of_substitutes %></p>
    <p><strong>Industry Rivalry:</strong> <%= @porters_five_force.industry_rivalry %></p>
    <p><strong>Overall Analysis:</strong> <%= @porters_five_force.analysis %></p>
  </div>
</div>
