<%= form_with(model: swot_analysis, url: business_idea_swot_analyses_path) do |form| %>
  <% if swot_analysis.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(swot_analysis.errors.count, "error") %> prohibited this swot_analysis from being saved:</h2>

      <ul>
        <% swot_analysis.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :strengths, style: "display: block" %>
    <%= form.text_area :strengths, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :weaknesses, style: "display: block" %>
    <%= form.text_area :weaknesses, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :opportunities, style: "display: block" %>
    <%= form.text_area :opportunities, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :threats, style: "display: block" %>
    <%= form.text_area :threats, class: 'form-control', rows: 5 %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
