<div id="<%= dom_id swot_analysis %>">
  <p>
    <strong>Business idea:</strong>
    <%= swot_analysis.business_idea_id %>
  </p>

  <p>
    <strong>Strengths:</strong>
    <%= swot_analysis.strengths %>
  </p>

  <p>
    <strong>Weaknesses:</strong>
    <%= swot_analysis.weaknesses %>
  </p>

  <p>
    <strong>Opportunities:</strong>
    <%= swot_analysis.opportunities %>
  </p>

  <p>
    <strong>Threats:</strong>
    <%= swot_analysis.threats %>
  </p>

</div>
