<canvas id="dummy-chart" style="display:none;"></canvas>
<canvas id="chart-line" style="display:none;"></canvas>
<turbo-frame id="business_idea_<%= @business_idea.id %>">
<div class="container-fluid py-4">
  <%= render "partials/nav_business_idea" %>
  <div class="card shadow-lg p-3">
    <div class="row p-3">
      <div class="col-12">
          <div class="tab-content" id="main-tabs-content">
            <%# To jest powtarzajace sie %>
            <div class="tab-pane fade show active" id="nav-idea-definition" role="tabpanel" aria-labelledby="nav-idea-definition-tab">
              <div class="row">
                <%= render 'business_ideas/definition', locals: {busines_idea: @busines_idea} %>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-creation-roadmap" role="tabpanel" aria-labelledby="nav-creation-roadmap-tab">
              <div class="row">
                <fieldset class="border rounded-3 p-3">
                  <legend class="float-none w-auto px-3">Creation Roadmap:</legend>
                  <%= render 'business_ideas/creation_roadmap', locals: {busines_idea: @busines_idea} %>
                </fieldset>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-analysis" role="tabpanel" aria-labelledby="nav-analysis-tab">
              <div class="row">
                <fieldset class="border rounded-3 p-3">
                  <legend class="float-none w-auto px-3">Analysis:</legend>
                  <%= render 'business_ideas/analysies', locals: {busines_idea: @busines_idea} %>
                </fieldset>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Footer of main show page -->
    <div class="card-footer d-flex">
      <button type="button" class="btn bg-gradient-success mt-3" data-bs-toggle="modal" data-bs-target="#modal-form1">Edit this business idea</button> 
      <%= link_to "Back to business ideas", business_ideas_path, class: "btn bg-gradient-info mt-3 mx-3" %> 
      <div class="ms-auto">
        <%= button_to "Destroy this business idea", @business_idea, method: :delete, class: "btn bg-gradient-danger mt-3" %>
      </div>
    </div>
  </div>
</div>

  <!-- Modals -->

  <div class="col-md-4">
    <div class="modal fade" id="modal-form1" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md mw-65" role="document">
        <div class="modal-content">#business_idea_definition
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Edit this Business Idea</h3>
                <p class="mb-0"><%= @business_idea.title %></p>
              </div>
              <div class="card-body">
                <%= render "form", business_idea: @business_idea %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Business Idea Definition -->
  <div class="col-md-12">
    <div class="modal fade" id="modal-form2" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md mw-65" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Create Stage 2 of Business Idea</h3>
                <p class="mb-0"><%= @business_idea.title %></p>
              </div>
              <div class="card-body">

                <%= render "business_idea_definitions/form", locals: { business_idea: @business_idea, definition: @business_idea_definition } %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="modal fade" id="business_idea_definition" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md mw-65" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient"Business Idea Definition for:</h3>
                <p class="mb-0"><%= @business_idea.title %></p>
              </div>
              <div class="card-body">
                <%= render "business_idea_definitions/form", business_idea: @business_idea, business_idea_definition: @business_idea_definition %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Market Reasearch -->
  <div class="col-md-12">
    <div class="modal fade" id="modal-form-market_research" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md mw-65" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Create Stage 3 of Business Idea</h3>
                <p class="mb-0"><%= @business_idea.title %></p>
              </div>
              <div class="card-body">
                <%= render "market_researches/form", business_idea: @business_idea, market_research: @market_research %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-12">
    <div class="modal fade w-100" id="market_research" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md mw-65" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Stage 3 of Business Idea for:</h3>
                <p class="mb-0"><%= @business_idea.title %></p>
              </div>
              <div class="card-body">
                <%= render "market_researches/market_research", business_idea: @business_idea, market_research: @market_research %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Competitor Analysis -->
  <div class="col-md-12">
    <div class="modal fade" id="modal-form-competitor_analysis" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md mw-65" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Create Stage 4 of Business Idea</h3>
                <p class="mb-0"><%= @business_idea.title %></p>
              </div>
              <div class="card-body">
                <%= render "competitor_analyses/form", business_idea: @business_idea, competitor_analysis: @competitor_analysis %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="modal fade w-100" id="competitor_analysis" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md mw-65" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Stage 4 of Business Idea for:</h3>
                <p class="mb-0"><%= @business_idea.title %></p>
              </div>
              <div class="card-body">
                <%= render "competitor_analyses/competitor_analyses", business_idea: @business_idea, competitor_analysis: @competitor_analysis %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>