<%= form_with(model: pestel_analysis, url: business_idea_pestel_analyses_path) do |form| %>
  <% if pestel_analysis.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pestel_analysis.errors.count, "error") %> prohibited this pestel_analysis from being saved:</h2>

      <ul>
        <% pestel_analysis.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :political, style: "display: block" %>
    <%= form.text_area :political, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :economic, style: "display: block" %>
    <%= form.text_area :economic, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :social, style: "display: block" %>
    <%= form.text_area :social, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :technological, style: "display: block" %>
    <%= form.text_area :technological, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :environmental, style: "display: block" %>
    <%= form.text_area :environmental, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :legal, style: "display: block" %>
    <%= form.text_area :legal, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn bg-gradient-primary" %>
  </div>
<% end %>
