
<div id="<%= dom_id brand %>">
  <h5 class="card-title">Name:</h5>
    <%= brand.business_name %>
  

  <h5 class="card-title">STRAPLINE:</h5>
    <%= brand.strapline %>
  

  <h5 class="card-title">Website domain:</h5>
    <%= brand.website_domain %>
  

  <h5 class="card-title">Brands colours and fonts:</h5>
    <%= brand.colours_fonts %>
  

  <h5 class="card-title">Brands consistency:</h5>
    <%= brand.consistency %>
  

  <h5 class="card-title">Brands workwear:</h5>
    <%= brand.workwear %>
  

  <h5 class="card-title">Brands values:</h5>
    <%= brand.values %>
  


  <h5 class="card-title">Brands mision_statement:</h5>
    <%= brand.mision_statement %>
</div>
