<div class="card m-3">
  <div class="card-title"></div>
  <div class="card-body">
    <div class="container-flex">
      <h2 class="text-center">Business Model Canvas</h2>
      <h5 class="text-center"><%= @business_idea.title %></h5>

      <div class="bmc-grid">
        <% ordered_keys = {
          "key_partners" => "partners",
          "partnerships" => "strategic-partnerships",
          "key_activities" => "activities",
          "key_resources" => "resources",
          "value_propositions" => "value",
          "customer_relationships" => "relationships",
          "customer_pains" => "pains",
          "customer_gains" => "gains",
          "distribution_channels" => "channels",
          "customer_segments" => "segments",
          "cost_structure" => "cost",
          "cost_breakdown" => "cost-details",
          "pricing_strategy" => "pricing",
          "revenue_streams" => "revenue",
          "key_metrics" => "metrics"
        } %>

        <% ordered_keys.each do |key, css_class| %>
          <div class="bmc-item <%= css_class %>">
            <div class="d-flex align-items-center">
              <i class="fas <%= icon_for_bmc_attribute(key) %> fa-2x me-2"></i>
              <h4 class="mb-2 fw-bold"><%= key.humanize.titleize %></h4>
            </div>

            <p><%= formatted_bmc_text(@business_model_canva[key].presence || "Not defined yet") %></p>

            <%= link_to "Edit", edit_business_idea_business_model_canva_path(@business_idea), class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>