<p style="color: green"><%= notice %></p>

<%= render @entrepreneurial_skills_user_response %>

<div>
  <%= link_to "Edit this entrepreneurial skills user response", edit_entrepreneurial_skills_user_response_path(@entrepreneurial_skills_user_response) %> |
  <%= link_to "Back to entrepreneurial skills user responses", entrepreneurial_skills_user_responses_path %>

  <%= button_to "Destroy this entrepreneurial skills user response", @entrepreneurial_skills_user_response, method: :delete %>
</div>
